<section id="info">
    {% if summary_report %}
    <div class="section-title">
        <h4>魔盾安全扫描报告</h4>
    </div>
    {% endif %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>扫描类型</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>持续时间</th>
                <th>扫描引擎版本</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{results.info.category|upper}}</td>
                <td>{{results.info.started}}</td>
                <td>{{results.info.ended}}</td>
                <td>{{results.info.duration}} 秒</td>
                <td>{{results.info.version}}</td>
            </tr>
        </tbody>
    </table>
</section>

{% if results.info.machine and results.info.machine.name %}
    <section id="machine">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>虚拟机机器名</th>
                    <th>标签</th>
                    <th>虚拟机管理</th>
                    <th>开机时间</th>
                    <th>关机时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{results.info.machine.name}}</td>
                    <td>{{results.info.machine.label}}</td>
                    <td>{{results.info.machine.manager}}</td>
                    <td>{{results.info.machine.started_on}}</td>
                    <td>{{results.info.machine.shutdown_on}}</td>
                </tr>
            </tbody>
        </table>
    </section>
{% endif %}

<section id="malscore">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">魔盾分数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2 style="text-align:center; margin: 0px;"><span>{{results.malscore}}</span></h2>
                     {% if results.malfamily %}
                    <h5 style="text-align:center; margin: 15px 0px 2px 0px;">{{results.malfamily}}</h5>
                    {% elif results.malscore > 6.0 %}
                    <h5 style="text-align:center; margin: 15px 0px 2px 0px;">恶意的</h5>
                    {% elif results.malscore > 2.0 %}
                    <h5 style="text-align:center; margin: 15px 0px 2px 0px;">可疑的</h5>
                    {% else %}
                    <h5 style="text-align:center; margin: 15px 0px 2px 0px;">正常的</h5>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</section>
