<section id="static">
    <div class="section-title">
        <h4>静态分析</h4>
    </div>
        {% if results.static and results.static.pe %}
            <div>
                {% if summary_report %}
                <h4>PE 信息</h4>
                <div id="pe_information">
                {% else %}
                <h4><a href="javascript:showHide('pe_information');">PE 信息</a></h4>
                <div id="pe_information" style="display: none;">
                {% endif %}
                    <table class="table table-striped table-bordered" style="table-layout: fixed;">
                        {% if results.static.pe.imagebase %}
                            <tr>
                                <th style="width: 15%;">初始地址</th>
                                <td>{{results.static.pe.imagebase}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.entrypoint %}
                            <tr>
                                <th style="width: 15%;">入口地址</th>
                                <td>{{results.static.pe.entrypoint}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.reported_checksum %}
                            <tr>
                                <th style="width: 15%;">声明校验值</th>
                                <td>{{results.static.pe.reported_checksum}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.actual_checksum %}
                            <tr>
                                <th style="width: 15%;">实际校验值</th>
                                <td>{{results.static.pe.actual_checksum}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.osversion %}
                            <tr>
                                <th style="width: 15%;">最低操作系统版本要求</th>
                                <td>{{results.static.pe.osversion}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.pdbpath %}
                            <tr>
                                <th style="width: 15%;">PDB路径</th>
                                <td>{{results.static.pe.pdbpath}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.timestamp %}
                            <tr>
                                <th style="width: 15%;">编译时间</th>
                                <td>{{results.static.pe.timestamp}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.imphash %}
                            <tr>
                                <th style="width: 15%;">载入哈希</th>
                                <td>{{results.static.pe.imphash}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.icon %}
                            <tr>
                                <th style="width: 15%;">图标</th>
                                <td><img src="data:image/jpeg;base64,{{results.static.pe.icon}}"/></td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.icon_hash %}
                            <tr>
                                <th style="width: 15%;">图标精确哈希值</th>
                                <td>{{results.static.pe.icon_hash}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.icon_fuzzy %}
                            <tr>
                                <th style="width: 15%;">图标相似性哈希值</th>
                                <td>{{results.static.pe.icon_fuzzy}}</td>
                            </tr>
                        {% endif %}
                        {% if results.static.pe.exported_dll_name %}
                            <tr>
                                <th style="width: 15%;">导出DLL库名称</th>
                                <td>{{results.static.pe.exported_dll_name}}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <hr />

        {% if results.static.pe.versioninfo %}
            <div>
                {% if summary_report %}
                <h4>版本信息</h4>
                <div id="pe_versioninfo">
                {% else %}
                <h4><a href="javascript:showHide('pe_versioninfo');">版本信息</a></h4>
                <div id="pe_versioninfo" style="display: none;">
                {% endif %}
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col width="150" />
                            <col width="*" />
                        </colgroup>
                        {% for info in results.static.pe.versioninfo %}
                            {% if info.name %}
                            <tr>
                                <td><strong>{{info.name}}</strong>:</td>
                                <td><span class="mono">{{info.value}}</span></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if results.static.pe.sections %}
            <div>
                {% if summary_report %}
                <h4>PE数据组成</h4>
                <div id="pe_sections">
                {% else %}
                <h4><a href="javascript:showHide('pe_sections');">PE数据组成</a></h4>
                <div id="pe_sections" style="display: none;">
                {% endif %}
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>名称</th>
                            <th>虚拟地址</th>
                            <th>虚拟大小</th>
                            <th>原始数据大小</th>
                            <th>特征</th>
                            <th>熵(Entropy)</th>
                        </tr>
                        {% for section in results.static.pe.sections %}
                            <tr>
                                <td>{{section.name}}</td>
                                <td>{{section.virtual_address}}</td>
                                <td>{{section.virtual_size}}</td>
                                <td>{{section.size_of_data}}</td>
                                <td>{{section.characteristics}}</td>
                                <td>{{section.entropy}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if results.static.pe.overlay %}
            <div>
                {% if summary_report %}
                <h4>覆盖</h4>
                <div id="pe_overlay">
                {% else %}
                <h4><a href="javascript:showHide('pe_overlay');">覆盖</a></h4>
                <div id="pe_overlay" style="display: none;">
                {% endif %}
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col width="150" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <td><strong>偏移量</strong>:</td>
                            <td>{{results.static.pe.overlay.offset}}</td>
                        </tr>
                        <tr>
                            <td><strong>大小</strong>:</td>
                            <td>{{results.static.pe.overlay.size}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if results.static.pe.resources %}
            <div>
                {% if summary_report %}
                <h4>资源</h4>
                <div id="pe_resources">
                {% else %}
                <h4><a href="javascript:showHide('pe_resources');">资源</a></h4>
                <div id="pe_resources" style="display: none;">
                {% endif %}
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>名称</th>
                            <th>偏移量</th>
                            <th>大小</th>
                            <th>语言</th>
                            <th>子语言</th>
                            <th>熵(Entropy)</th>
                            <th>文件类型</th>
                        </tr>
                        {% for section in results.static.pe.resources %}
                            <tr>
                                <td>{{section.name}}</td>
                                <td>{{section.offset}}</td>
                                <td>{{section.size}}</td>
                                <td>{{section.language}}</td>
                                <td>{{section.sublanguage}}</td>
                                <td>{{section.entropy}}</td>
                                <td>{{section.filetype}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if results.static.pe.imports %}
            <div>
                {% if summary_report %}
                <h4>导入</h4>
                <div id="pe_imports">
                {% else %}
                <h4><a href="javascript:showHide('pe_imports');">导入</a></h4>
                <div id="pe_imports" style="display: none;">
                {% endif %}
                    {% for library in results.static.pe.imports %}
                        <div class="well">
                            <div><strong>库 {{library.dll}}</strong>:</div>
                            {% for function in library.imports %}
                                <div>&bull; <span class="mono">{{function.address}}</span> - {{function.name}}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if results.static.pe.exports %}
            <div>
                {% if summary_report %}
                <h4>导出</h4>
                <div id="pe_exports">
                {% else %}
                <h4><a href="javascript:showHide('pe_exports');">导出</a></h4>
                <div id="pe_exports" style="display: none;">
                {% endif %}
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>序列</th>
                            <th>地址</th>
                            <th>名称</th>
                        </tr>
                        {% for export in results.static.pe.exports %}
                            <tr>
                                <td>{{export.ordinal}}</td>
                                <td>{{export.address}}</td>
                                <td>{{export.name}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if results.strings and not summary_report %}
            <div>
                <h4><a href="javascript:showHide('strings');">字符串</a></h4>
                <div id="strings" style="display: none;">
                    {% for str in results.strings %}
                        <div><span class="mono">{{str}}</span></div>
                    {% endfor %}
                </div> 
            </div>
    {% endif %}

    {% if not results.strings and not results.static %}
        无信息
    {% endif %}
</section>
